

/*from bit tablets to : 1023 to 1200 */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
    
        width:  100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
        
    }

    
}

/*from small tablets to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
    width: 80%;
    margin-left: 10%;
    }
    .steps-box {
        margin-top: 15px;
    }
    .steps-box:last-child {
        margin-top: 10px;
    }
 
    .steps {
    margin-bottom: 40px;
    }
    .steps:last-of-type {
    margin-bottom: 50px;
    }
    .app-screen {
    width: 50%;
    }
    .btn-app img {
    height: 50px;
    width: auto;
    margin-right: 5px;
    
}
    .main-nav {
    font-size: 85%;
        font-weight: 300;
}
    .icon-small {
        width: 10px;
        margin-right: 5px;
    }
    .city-feature {
        font-size: 75%;
    }

    .plan-box  {
        font-size: 80%;
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {
    font-size: 200%;
  
    }
    
    .contact-form {
        width: 80%;
    }
    
}

/*Small phones to small tablets - 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    h1{
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    .main-nav {
        display: none;
    }
     .long-copy {
    width: 100%;
    margin-left: 0%;
    }
    .steps-box:first-child{
        text-align: center;
    }
    .steps {
    margin-bottom: 30px;
    }
    .steps:last-of-type {
    margin-bottom: 30px;
        
    }
     .app-screen {
    width: 40%;
}
    .steps div {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;

    }
    footer .row .col {
        width: 50%;
        font-size: 92%;
    }
    
}

/*Small phones - 0 to 480px */
@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
        
    }
    .contact-form {
        width: 100%;
    }
        footer .row .col {
        width: 50%;
            font-size: 55%;
    }
}